body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navheading {
  margin-left: 20px;
}

.nav-link {
  margin: 10px;
  background-color: gray;
  border-radius: 50px;
  width: 100px;
  text-align: center;
}

.Card{
  width: 200px;
  height: 200px;
  border: none;
  outline: none;
  border-radius: 34px;
  background-color: black;
  margin: 10px 60px;
  transition: transform 0.2s;
}

.Card-text{
  color: white;
  font-family: "Montserrat", "sans-seriff";
  font-weight: 600;
  font-size: 18px;
  height: 30px;
}

.Card-img{
  display: flex;
  justify-content: center;
}

.Card:hover{
  transform: scale(1.3);
}

.initial-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
}